<form method="post">
    <input name="item" placeholder="Dodaj produkt">
    <button type="submit">Dodaj</button>
</form>

<ul>
{% for i in items %}
    <li>
        <a href="{{ url_for('toggle', index=loop.index0) }}">
            {% if i.done %}
                ✔️
            {% else %}
                ⬜
            {% endif %}
        </a>

        {{ i.name }} <a href="{{ url_for('delete', index=loop.index0) }}">Usuń</a>
    </li>
{% endfor %}
</ul>
{% if not items %}
    <p>Brak produktów na liście.</p>
{% endif %}