<form method="post">
    <input name="item" placeholder="Dodaj produkt">
    <select name="category">
        <option value="Warzywa">Warzywa</option>
        <option value="Nabiał">Nabiał</option>
        <option value="Pieczywo">Pieczywo</option>
        <option value="Mięso">Mięso</option>
        <option value="Napoje">Napoje</option>
        <option value="Chemia">Chemia</option>
        <option value="Inne">Inne</option>
    </select>
    <button type="submit">Dodaj</button>
</form>

<ul>
{% for i in items %}
    <li>
        <a href="{{ url_for('toggle', index=loop.index0) }}">
            {% if i.done %}
                ✔️
            {% else %}
                ⬜
            {% endif %}
        </a>

        {{ i.name }}

        {% if i.category %}
            ({{ i.category }})
        {% endif %}

        <a href="/edit/{{ loop.index0 }}">Edytuj</a>
        <a href="{{ url_for('delete', index=loop.index0) }}">Usuń</a>
    </li>
{% endfor %}
</ul>
{% if not items %}
    <p>Brak produktów na liście.</p>
{% endif %}